<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />
        
        <!-- jQuery -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css"> -->

        <!-- Latest compiled and minified JavaScript -->
        <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script> -->

        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>