{{> base/header.html}}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th> Mentee </th>
      <th> Message </th>
      <th> Assign Mentor</th>
    </tr>
    <tbody>
      <tr>
        <td>JESSICA</td>
        <td>I want a mentor</td>
        <td>
          <form>
            <fieldset>
              <input type="text" placeholder="Phone number">
              <button type="submit" class="btn">Submit</button>
            </fieldset>
          </form>
        </td>
      </tr>
      <tr>
        <td>Rachel</td>
        <td>need clothing</td>
        <td>
          <form>
            <fieldset>
              <input type="text" placeholder="Phone number">
              <button type="submit" class="btn">Submit</button>
            </fieldset>
          </form>
        </td>
      </tr>
    </tbody>
  </thead>
</table>
{{> base/footer.html}}
