{{> base/header.html}}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th> Message </th>
      <th> Assign Mentor</th>
    </tr>
    <tbody>
      {{# mentees}}
      <tr>
        <td>{{ reason }}</td>
        <td>
          <form>
            <fieldset>
              <input type="hidden" value={{id}} name="mentee_id">
              <input type="text" placeholder="Phone number" name="phone">
              <button type="submit" class="btn">Submit</button>
            </fieldset>
          </form>
        </td>
      </tr>
      {{/ mentees}}
    </tbody>
  </thead>
</table>
{{> base/footer.html}}
